<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Moneo</title>
</head>

<body class="">
    <span class="preheader">Week High Low Digest</span>

    {{#> layout }}
    {{!-- <img src="{{post.image}}" --}}
                    {{!-- class="card-img-top" alt="..."/> --}}
    <p>Hi {{name}}</p>
    <p>{{count}} Stock in your portfolio broke 52 weeks levels</p>
    <p>
        {{#each data}}
        <div>
            <h5 class="card-title">{{this.sid}}</h5>
            {{#if this.yhigh}} 
            <p>Week High - {{this.yhigh}}</p>
            {{/if}}
            {{#if this.ylow}}
            <p>Week Low - {{this.ylow}}</p>
            {{/if}}
        </div>
        {{/each}}
    </p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
            <tr>
                <td align="left">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{{url}}" target="_blank">
                                        View Details
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    {{/layout}}
</body>

</html>