<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Moneo</title>
</head>

<body class="">
    <span class="preheader">Week High Low Digest</span>

    {{#> layout }}
    <p>Hi,</p>
    <p>52 Week High/Low</p>
    {{#if yhigh}}
    <div class="box-container-high">
        <p>52 Week High</p>
        <p>{{yhighCount}} Stock in your portfolio touched 52 weeks high levels in today's market session</p>
        {{#each yhigh}}
        <div class="data-container">
            <a href="https://moneo.in/get">{{this}}</a>
        </div>
        {{/each}}
    </div>
    {{/if}}

    {{#if ylow}}
    <div class='box-container-low'>
        <p>52 Week Low</p>
        <p>{{ylowCount}} Stock in your portfolio touched 52 weeks low levels in today's market session</p>
        {{#each ylow}}
        <div class="data-container">
            <a href="https://moneo.in/get">{{this}}</a>
        </div>
        {{/each}}
    </div>
    {{/if}}



    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
            <tr>
                <td align="left">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{{url}}" target="_blank">
                                        View Details
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    {{/layout}}
</body>

</html>